root = true

[*]
trim_trailing_whitespace = true

[*.{cs,csproj,slnx}]
indent_style = space
indent_size = 4

[*.{json,yml,yaml,md}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
